<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Clerk Change Password</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="/fonts/material-icon/css/material-design-iconic-font.min.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="/css/login-signup.css" />
  </head>
  <body>
    <div class="main">
      <!-- form -->
      <section class="password">
        <div class="container">
          <div class="password-content">
            <div class="password-form">
              <h2 class="form-title">Change Password</h2>
              <p>Clerk, Forgot Password?</p>
              <br />
              <form class="register-form" action="#">
                <div class="form-group">
                  <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    required="_required"
                    placeholder="New Password"
                  />
                </div>
                <div class="form-group">
                  <label for="pass"
                    ><i class="zmdi zmdi-lock-outline"></i
                  ></label>
                  <input
                    type="password"
                    name="password_2"
                    id="password_2"
                    required="_required"
                    placeholder="Confirm Password"
                  />
                </div>
                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="reg_user"
                    id="reg_user"
                    class="form-submit"
                    value="Done"
                  />
                </div>
              </form>
            </div>
            <div class="password-image">
              <figure>
                <img src="/images/signup-image.jpg" alt="sign up image" />
              </figure>
              <!-- <a href="#">Text here</a> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
